:root {
    --div: 20px;
}/*페딩, 마진 간격 설정*/

/*개인정보처리방침 박스*/
.box-privacy{padding: var(--div);}
.privacy-wrap{border-width:2px 0px 2px;border-style:solid;border-color:#FBB63E;padding: 15px 0;text-align: center;}
.privacy{width: 80%;display: inline-block;}
.privacy-index{margin-bottom: 50px;}
.privacy p{margin-bottom: 10px;text-align: left;}